@media only screen and (max-width: 1100px) {

    /*Popup styles start*/

    .popup {
        display: flex;
        background: #fff;
        flex-wrap: wrap;
        height: 88px;
        position: fixed;
        top: 68px;
        height: 0;
        overflow: hidden;
        width: 100%;
        z-index: 3;
        transition: .5s;
    }

    .popup.open {
        height: 388px;
    }

    .popup__list {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0px;
    }

    .popup__item {
        font-family: Inter600;
        font-style: normal;
        font-size: 24px;
        width: 100%;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #1C1C1C;
        padding: 15px;
        transition: background .5s ease 0s;
    }

    .popup__item:hover {
        background: #DEDEDE;
    }

    #popup__last {
        height: 10px;
    }

    /*Popup styles start*/

    /*Header styles start*/

    .header__list {
        display: none;
    }

    .header {
        vertical-align: baseline;
        height: 68px;
    }

    .header__wrapper {
        vertical-align: baseline;
        margin: 0 auto;
        width: 100%;
    }

    .header__side {
        background: #fff;
        padding: 18px;
        height: 100%;
        width: 60px;
        border: 0;
    }

    .hamburger__line {
        position: absolute;
        width: 18px;
        height: 2px;
        margin: 3px 0;
        border-radius: 1px;
        background: #969696;
        transition: top 0.15s ease .25s, transform .15s ease-out .05s, opacity 0s ease .25s;
    }

    .header__side.active .hamburger__line {
        transition: top 0.15s ease .05s, transform .15s ease-out .25s, opacity 0s ease .25s;
    }

    .hamburger__line:nth-child(1) {
        top: 25px;
    }

    .hamburger__line:nth-child(2) {
        top: 30px;
    }

    .hamburger__line:nth-child(3) {
        top: 35px;
    }

    .header__side.active .hamburger__line:nth-child(1) {
        top: 30px;
        transform: rotate(45deg);

    }

    .header__side.active .hamburger__line:nth-child(2) {
        opacity: 0;
    }

    .header__side.active .hamburger__line:nth-child(3) {
        top: 30px;
        transform: rotate(-45deg);
    }

    .header__list-mobile {
        display: flex;
        justify-content: space-between;
        height: 68px;
    }

    .header__sides-img-mobile {
        height: 24px;
        width: 24px;
    }

    .header__logo-img-mobile {
        width: 38px;
        height: 38px;
        margin: 15px;
    }

    /*Header styles end*/

    /*Intro styles start*/

    .intro__wrapper {
        background: white;
        height: auto;
        margin: 30px 15px 45px 15px;
    }

    .intro__safari {
        width: calc(-15px + 100%);
        height: 600px;
        float: left;
        position: relative;
        left: 15px;
        top: 0px;
        margin-top: 40px;
        margin-bottom: 30px;
        z-index: 1;
        object-fit: cover;
        object-position: top left;
    }

    .intro__form {
        overflow: hidden;
    }

    .intro__form-input {
        width: 100%;
    }

    /*Intro styles end*/

    /*Content styles start*/

    .content {
        margin: 40px 15px 44px 15px;
    }

    /*Content styles end*/

    /*Features styles start*/

    .features {
        margin: 0px 15px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 40px;
        display: block;
    }

    .features__item {
        margin: 30px auto;
    }

    .features__text {
        margin: 0;
    }

    .features__box {
        display: block;
        width: auto;
        margin: 0 auto;
        align-items: center;
    }

    .features__image {
        width: 100%;
        display: block;
    }

    /*Features styles end*/

    /*Statistic styles start*/

    .statistic {
        margin: 40px 15px;
        display: block;
    }

    .statistic__item {
        margin: 15px;
    }

    .statistic__box {
        margin-top: 30px;
    }

    .statistic__text {
        margin-top: 0;
    }

    /*Statistic styles end*/

    /*Devices styles start*/

    .devices__wrapper {
        max-width: 1100px;
        margin: 0 15px auto;
        text-align: center;
    }

    .devices__items {
        margin: 15px 30px;
    }

    .devices__shortheading {
        margin-top: 40px;
    }

    .devices__safari {
        margin-top: 60px;
        width: 100%;
        height: 144px;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: top;
    }

    /*Devices styles end*/

    /*Review styles start*/

    .review {
        max-width: 1100px;
        margin: 0 15px auto;
        text-align: center;
        margin-bottom: 57px;
        padding-top: 40px;
    }

    .review__wrapper {
        justify-content: center;
    }

    .review__button {
        display: none;
    }

    .review__quotes {
        size: 48px;
        margin: 0 auto;
    }

    .review__text {
        margin-top: 10px;
    }

    /*Review styles end*/

    /*Buy styles start*/

    .buy {
        margin: 40px 0px auto;
        margin-bottom: 40px;
        text-align: center;
    }

    .buy__item {
        margin: 10px 15px;
    }

    /*Buy styles end*/

    /*Buy styles end*/

    .subscribe {
        display: block;
        margin: 40px 15px 0px 15px;
    }

    .subscribe__email {
        margin-top: 20px;
        width: 100%;
        margin-bottom: 10px;
    }
    .subscribe__button{
        margin-bottom: 46px;
        margin-left: 0px;
    }

    /*Buy styles end*/

    /*Footer styles start*/

    .footer {
        margin-bottom: 50px;
    }

    .footer__first-line {
        display: block;
        justify-content: right;
        text-align: center;
    }

    .footer__list-links {
        width: 285px;
    }

    .footer__sides-left {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer__sides-right {
        display: none;
    }

    .footer__sides-mobile {
        display: block;
    }

    .footer__list-links-separation-mobile {
        display: block;
        white-space: pre-wrap;
    }

    .footer__copyright {
        display: none;
    }

    .footer__copyright-mobile {
        display: block;
        margin: 30px 0;
    }

    /*Footer styles end*/
}